

.header{
    background: var(--header-backgroundColor);
    color: var(--header-color);
    display: flex;  
    justify-content: center;
    position: relative;
    // width: 100%;
    // overflow-y: scroll;
    // border: 2px solid red;
    
    .headerContainer{
        width: 100%;
        max-width: 1024px;
        margin: 20px 0px 100px 0px;
        // border: 2px solid green;

        &.listMode{
            margin: 20px 0px 0px 0px;     
        }

        .headerList{
            display: flex;
            gap: 40px;
            margin-bottom: 50px;
            flex-wrap: wrap;
            .headerListItem{
                display: flex;
                align-items: center;
                gap: 10px;

                &.active{
                    border: var(--header-active-ListItem-border);
                    padding: 10px;
                    border-radius: 20px;
                   }
            }
        
        
        }

        .headerDesc{
            margin: 20px 0px;
            
        }

        .headerButton{
            background-color: var(--header-button-backgroundColor);
            color: var(--header-button-color);
            font-weight: 500;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .headerSearch{
            height: 30px;
            background-color: var(--header-headerSearch-backgroundColor);
            border: var(--header-headerSearch-border);
            display: flex;  
            align-items: center; 
            justify-content: space-around   ;
            padding: 10px 0px;
            border-radius: 5px;
            position: absolute;
            bottom: -25px;
            width: 100%;
            max-width: 1024px;
            // width: 100%;
            // min-width: 1024px;
            // padding: 10px;

            .headerSearchItem{
                // color: black;
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;


                .headerSearchInput{
                    
                    border: none;
                    outline: none;
                } 

                .headerIcon{
                    color: var(--header-headerIcon-color);    
                }

                .headerSearchText{
                    color: var(--header-headerSearchText-color);
                    cursor: pointer;
                }

                .date{
                    position: absolute;
                    top:33px;
                    width: fit-content;
                    z-index: 2;
                }

                .options{

                        z-index: 2;
                        position: absolute;
                        top: 35px;
                        background-color: var(--header-options-background-color);
                        color: var(--header-options-color);
                        border-radius: 5px;
                        --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0,0,0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
                        // border: 1px solid red;
                        
                    .optionItem{
                        width: 200px;
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;   

                        .optionCounter{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 12px;
                            color: var(--header-optionCounter-color);

                            .counterButton{
                                width: 30px;
                                height: 30px;
                                border: var(--header-counterButton-border);
                                cursor: pointer;
                                background-color: var(--header-counterButton-backgroundColor);
                            }
                        }
                        // span{
                        //     color: #003580;
                        // }
                            
                        // .optionItem{    
                        //     display: flex;
                        //     justify-content: space-between;
                        //     margin: 10px;
                        // }
                    }
                }


            }
        }
    }

    
}