
.navbar{
    height: 50px;
    background-color: var(--navbar-backgroundColor);
    display: flex;
    justify-content: center;

    .navbarContainer{
        width: 100%;
        max-width: 1024px;
        // background-color: red;
        color: var(--navbar-navContainer-color);

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            font-weight: 500;
        }

        .navItems{
            display: flex;
          
            .navButton{
                margin-left: 20px;
                bottom: none;
                padding: 5px 10px;
                cursor: pointer;
                color: var(--navbar-navButton-color);
                border: none;
                // border-radius: 5px;  
                
                &.theme{
                    background-color: var(--themeChange);
                    width: 30px;
                }

            }
        }
    }
}